html, body {
    margin: 0;
    padding:0;
}

.container {
    width:90%;
    margin:0 auto;
    text-align: center;
    color: #636d7a;
}

.toolbar .drag-area {
    padding: 6px;
    width: 80%;
    border: 1px dashed #636d7a;
    margin: 0 auto;
}

.toolbar .button {
    max-width: 100px;
    border: 1px solid #9E9E9E;
    color: #636d7a;
    padding: 2px;
    cursor: pointer;
    margin: 0 auto;
}

.toolbar .button:hover {
    color: #FFFFFF;
    background-color: #9E9E9E;
}

.mosaic-box {
    margin-top: 8px;
}