html,
body {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #636d7a;
}

.toolbar .button {
    max-width: 100px;
    border: 1px solid #9e9e9e;
    color: #636d7a;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
    margin: 0 auto;
}

.toolbar .button:hover {
    color: #ffffff;
    background-color: #9e9e9e;
}

.mosaic-box {
    margin-top: 8px;
}
